@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #343942;
}

main {
    color: rgba(217, 217, 217, 1);
    display: flex;
}

footer {
    margin: 0;
    padding: 0;
}

a:hover {
    cursor: pointer;
}

/*=====================[MAIN]=====================*/
.main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh);
    padding-left: 5.56rem;
    padding-right: 5.56rem;
    justify-content: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 16.5625rem;
    height: 15.625rem;
}

.title-container {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
}

.title {
    margin: 0;
    padding: 0;
    color: #D9D9D9;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.description {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.button-container {
    display: flex;
    height: auto;

    flex-direction: column;
    justify-content: center;    
    row-gap: 1.06rem;

    margin-left:7.56rem;
}

.button {
    display: flex;

    width: 12.625rem;
    height: 3.5rem;

    color: #151515;

    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
    border-radius: 6.25rem;
    background: #D89B14;
    justify-content: center;
    align-items: center;

    transition: color 0.5s ease;
}
.button:hover {
    color: #D9D9D9;
    transition: color 0.3s ease;
}


.button#Officer {
    background: #D9D9D9;
    transition: color 0.5s ease;
}

.button#Officer:hover {
    color: #D89B14;
    transition: color 0.3s ease;
}
/*=================================================*/


/*=====================[FOOTER]=====================*/
.footer-container {
    margin-top: auto;
    padding-left: 9.44rem;
    padding-right: 5.56rem;
    padding-top: 4.19rem;
    padding-bottom: 4.62rem;
    background-color: rgba(217, 217, 217, 1);
    color: rgba(52, 57, 66, 1);
    color: #343942;
    position: absolute;
}

.footer-container h2 {
    font-family: Inter;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.footer-container p {
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    text-align: justify; 
    margin: 0;
}
/*==================================================*/

