@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

#alertPopup, #confirmPopup {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: none;
    border-radius: 2rem;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.499);
    z-index: 1000;
    opacity: 0;

    color: #343942;

    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: all 0.3s ease;
  }

  /* Styling untuk overlay (latar belakang) */
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    opacity: 0;
    transition: all 0.3s ease;
  }

  /* Animasi untuk memunculkan pop-up */
  #alertPopup, #confirmPopup.show {
    opacity: 1;
  }

  /* Animasi untuk memunculkan overlay */
  #overlay.show {
    opacity: 1;
  }

  /* Styling tambahan */
  .popup-title {
    color: #343942;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .popup-message {
    color: #343942;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .popup-button {
    background-color: #343942;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  .popup-button:hover {
    background-color: #8c8c8c;
  }