@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #343942;
}

main {
    color: rgba(217, 217, 217, 1);
    width: 100%;
    height: calc(100vh-(7.8rem));
}

footer {
    margin: 0;
    padding: 0;
}

a:hover {
    cursor: pointer;
}

/*=====================[HEADER]=====================*/
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.69rem;
    margin-left: 4.88rem;
    margin-right: 4.88rem;
}

.logo-container {
    width: 3.8125rem;
    height: 5.3125rem;
    overflow: hidden;
    margin-bottom: 0.75rem;
}

.left-item {
    display: block;
    margin-left: auto;
    margin-right: 2.25rem;
    color: #D9D9D9;

    text-align: right;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

img.logo {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover;
}

img.logout {
    width: 4.0625rem;
    height: 4.0625rem;
}

.title {
    margin: 0;
    padding-left: 2.56rem;

    color: #D9D9D9;

    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin: 0;
}
/*==================================================*/

/*======================[MAIN]======================*/
.main-container {
    margin: auto;
    margin-top: 5rem;
    display: flex;
    width: 50vh;
    height: 50vh;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.button {
    display: flex;
    width: 18.75rem;
    height: 5rem;;
    margin: 0;
    padding: 1.12rem;

    color: #FFF;

    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    text-decoration: none;
    border: none;
    border-radius: 1.875rem;
    background-color: #C48E19;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.button:hover {
    color: #343942;
    cursor: pointer;

    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

/*==================================================*/
