@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #343942;
}

main {
    color: rgba(217, 217, 217, 1);
    width: 100%;
    height: calc(100vh-(7.8rem));
}

footer {
    margin: 0;
    padding: 0;
}

a:hover {
    cursor: pointer;
}

/*=====================[HEADER]=====================*/
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.69rem;
    margin-left: 4.88rem;
    margin-right: 4.88rem;
}

.logo-container {
    width: 3.8125rem;
    height: 5.3125rem;
    overflow: hidden;
    margin-bottom: 0.75rem;
}

.left-item {
    display: block;
    margin-left: auto;
    margin-right: 2.25rem;
    color: #D9D9D9;

    text-align: right;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
img.logo {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover;
}

img.logout {
    width: 4.0625rem;
    height: 4.0625rem;
}


.title {
    margin: 0;
    padding-left: 2.56rem;

    color: #D9D9D9;

    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin: 0;
}
/*==================================================*/

/*======================[MAIN]======================*/
.main-container {
    margin-left: 4.94rem;
    margin-right: 4.94rem;
    margin-top: 3.06rem;
    margin-bottom: 3.06rem;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 2.81rem;
    margin-bottom: 2.81rem;
}

.cash-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cash-lable {
    margin: 0;
    margin-left: 6.37rem;
    margin-right: 1.19rem;

    color: #D9D9D9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
}

.cash-input {
    min-width: 17rem;
    max-width: 50rem;


    height: 2.75rem;
    border-radius: 6.25rem;
    background: #D9D9D9;
    border: none;
    align-items: center;

    padding-left: 1.59rem;
    padding-right: 1.59rem;

    font-family: Inter;
    font-size: 1.5rem;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
    align-items: center; 
}


.button {
    display: flex;
    width: auto;
    height: 2.75rem;
    padding: 1.12rem;

    color: #D9D9D9;

    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-decoration: none;
    border: none;
    border-radius: 0.3rem;
    background: #D89B14;
    justify-content: center;
    align-items: center;

    margin-left: 1.19rem;

    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.cash-disabled {
    background-color: #8A8A8A;

    transition: background-color 0.1s ease;
    transition: color 0.1s ease;
}

.button:hover {

    color: #151515;
    cursor: pointer;

    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.button#Edit:hover {
    color: #D9D9D9;
    cursor: pointer;

    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.fa-trash-can {
    color: #FD5555; 
    width: 2.5625rem; 
    height: 2.5625rem;

    transition: color 0.3s ease;
}

.fa-trash-can:hover {
    color:#151515; 
    cursor: pointer;
    width: 2.5625rem; 
    height: 2.5625rem;

    transition: color 0.3s ease;
}

@media (max-width: 1000px) {
    .form-container {
        height: 700px;
    }

    .input-container {
        width: 100%;
    }    
}
/*==================================================*/

/*=====================[HEADER]=====================*/
.table-container {
    padding-top: 0rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2px;
    background-color: #D9D9D9;
    max-height: 50vh;
    overflow: auto;
}

.table-items {
    width: 100%;
    color: #151515;
    text-align: center;
    justify-content: center;
    border-collapse: collapse;
}

.table-header {
    background-color: #D9D9D9;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: sticky;
    top: 0;
}

.table-header th {
    padding: 1.56rem;
}

.table-header th:last-child {
    max-width: 240px;
}

.table-body {
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
    overflow: auto; 
}


.table-body td {
    padding: 1rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    
    border-bottom: 1px solid #000;
}

.table-body td.supply-id {
    width: 10px;
}

.table-body td.supply-date {
    text-align: left;
}

.table-body td.edit-container {
    width: 76px;
}

.table-body td:last-child {
    padding-left: 0;
}

/*==================================================*/